body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.container {
  min-width: auto;
  margin: auto;
  display: flex;
  position: relative;
}

.section1 {
  width: 29%;
  position: fixed;

  box-shadow: 0 1px 4px rgb(186 161 176 / 20%);
}

.section_data {
  margin: 0;
}

.section_second {
  background-color: aliceblue;
  margin: 2.5rem 0;
  flex-shrink: 0;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(3, 6fr);
  width: 75%;
  height: 55%;
  align-items: center;
  justify-self: center;
  justify-items: center;
  margin: 10em 30em;
  border-radius: 25px;
}

.content_container {
  position: relative;
  height: 18em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.content_container .content_card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 35px;
}

.content_container .content_card:hover {
  height: 320px;
}

.content_container .content_card .content_image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -20%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content_container .content_card .content_image img {
  max-width: 100%;
  border-radius: 15px;
}

.content_container .content_card .content_text {
  position: relative;
  top: -100px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.content_container .content_card:hover .content_text {
  margin-top: 50px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
