body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.container {
  min-width: auto;
  margin: auto;
  display: flex;
  position: relative;
  margin: 2rem 2rem;
}

.section1 {
  box-shadow: 0 1px 4px rgb(186 161 176 / 20%);
}

.bouton {
  font-size: 1rem;
  width: 15rem;
  font-size: medium;
  font-weight: 550;
  letter-spacing: 0.5px;
  height: 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: #111;
  background-color: rgb(170, 56, 56);
  color: white;
  text-transform: uppercase;
}

.bouton:hover {
  background-color: rgb(60, 170, 56);
  transition: 0.3s;
}

.typePoke {
  width: 15.5rem;
}
.section_second {
  background-color: aliceblue;
  margin: 2.5rem 0;
  flex-shrink: 0;
}

.section_title {
  display: flex;
  align-items: center;
  margin: 0 0 20px 20px;
}

.pokeball {
  width: 5rem;
  height: 5rem;
  padding: 2.5rem;
}

.section_data {
  margin: 0 0 20px 20px;
  position: relative;
}

.section_input {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid green;
  background: none;
  outline: none;
  z-index: 1;
  padding: 0.5rem;
  position: relative;
  width: 20em;
}

#typePoke {
  width: 21.5em;
}

.section_label {
  position: absolute;
  top: -0.6rem;
  left: 1.25rem;
  font-size: 12px;
  padding: 0.25rem;
  background-color: white;
  z-index: 10;
  font-weight: 550;
}

.section2 {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 25px;
  box-shadow: 0 1px 4px rgb(186 161 176 / 20%);
}

.content_container {
  position: relative;
  height: 18em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.content_container .content_card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 35px;
}

.content_container .content_card:hover {
  height: 320px;
}

.content_container .content_card .content_image {
  position: relative;
  width: 260px;
  height: 260px;
  top: 0%;
  left: 13.5%;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.content_container .content_card .content_image img {
  width: 100%;
  max-width: 75%;
  height: 100%;
  max-width: 75%;
  object-fit: cover;
  border-radius: 15px;
}

.content_container .content_card .content_text {
  position: relative;
  top: -65px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  line-height: 10px;
}

p {
  margin: 0;
}

h3 {
  margin-top: 25px;
}

.content_container .content_card:hover .content_text {
  margin-top: 50px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

@media screen and (max-width: 1530px) {
  .section2 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-self: center;
    justify-items: center;
    border-radius: 25px;
  }
}

@media screen and (max-width: 1180px) {
  .container {
    display: block;
  }
  .section1 {
    display: flex;
    justify-content: space-around;
  }

  .section_info {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-content: center;
  }

  .section_input {
    width: auto;
  }

  #typePoke {
    width: 15em;
  }

  .bouton {
    width: 10em;
  }
}

@media screen and (max-width: 930px) {
  .section2 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    align-items: center;
    justify-self: center;
    justify-items: center;
    border-radius: 25px;
  }

  .section1 {
    margin: auto;
    display: grid;
    align-items: center;
    justify-self: center;
    justify-items: center;
    border-radius: 25px;
  }
}

/* Couleurs */

.insecte {
  background-color: #729f3f;
}

.dragon {
  background-color: rgb(151, 6, 6);
}

.fée {
  background-color: #fdb9e9;
}

.feu {
  background-color: #fd7d24;
}

.spectre {
  background-color: #7b62a3;
}

.sol {
  background-color: #ab9842;
}

.normal {
  background-color: #a4acaf;
}

.psy {
  background-color: #f366b9;
}

.acier {
  background-color: #9eb7b8;
}

.ténèbres {
  background-color: #707070;
}

.électrik {
  background-color: #eed535;
}

.combat {
  background-color: #d56723;
}

.vol {
  background-color: #89d4d6;
}

.plante {
  background-color: #9bcc50;
}

.glace {
  background-color: #51c4e7;
}

.poison {
  background-color: #b97fc9;
}

.roche {
  background-color: #a38c21;
}

.eau {
  background-color: #4592c4;
}
